body{
    background-image: url(intro-penn-paper-scranton-welcomes-you.gif);
}
nav, section{
    background-color: white;
    opacity: 0.96;
    border:lightgray 1px solid;
    margin-top: 20px;
    margin-bottom: 20px;
}
nav{
    opacity: 0.8;
}
.headerImg {
    height: auto;
    width: auto;
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: auto;
}

.img-container {
    width: auto;
    height: 160px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding-bottom: 5px;
  }


h1 {
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    margin: 20px 0px 20px 20px;
    font-size: 50px;
    text-shadow: 5px 5px lightgray;
    font-weight: 1000;
}
h2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 50px 0px 20px 8px;
    
}

h3{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 0px;
}

a {
    font-size: 20px;
}

li{
    font-style: italic;
    color: rgb(46,146,171);
}

#topofpage{
    text-align: center;
}

p{
    margin-left: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.wrapper{
    display: grid;
    grid-template-columns: auto auto ;
    grid-gap: 10px;

}

.box{
    padding: 20px;
    background-color: pink;
    background-image: url(background.jpg);
}

.gridtitle{
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    margin: 0;
}


.bullet{
    color: #000;
    font-size: 20px;
}

.end-grid {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 10px;
}


.items{
    padding: 20px;
    background-color: #dbe1e5;
}
.profileImg{
    border-radius: 50%;
    padding: 1px;
    width: 100%;
    height:auto;
}

.final-img{
    width: 100%;
    height: auto;
}

.socials{
    font-size: 20px;
    width: 100%
    a
}

ol{
    margin-bottom: 40px
}