.headerImg {
    height: auto;
    width: auto;
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: auto;
}

.img-container {
    width: 1000px;
    height: 160px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding-bottom: 5px;
  }

.profileImg{
    border-radius: 50%;
    border: 10px solid #000;
    padding: 1px;
}

h1,h2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}

a {
    font-size: 20px;
}

li{
    font-style: italic;
    color: rgb(46,146,171);
}

#topofpage{
    text-align: center;
}

p{
    margin-left: 10px;
}